    <style>
        :root {
            --dark: #ffffff;
            --darker: #e3e3e3;
            --darkest: #fdfdfd;
            --grey: #2a2929;
            --pink: #000000;
            --purple: #000000;
            --light: #000000;
        }

        body {
            font-family: Arial, sans-serif;
        }

        header h1 {
            font-size: 2rem;
            font-weight: 300;
            color: var(--grey);
            margin-bottom: 1rem;
        }

        main {
            margin-top: 15px;
        }

        #tasks {
            list-style-type: none;
            padding: 0;
            background-color: rgb(255, 255, 255);
        }

        .task {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            border: none;
            border-radius: 35px;
            margin-bottom: 5px;
            padding-top: 5px;
        }

        .checkbox {
            margin-right: 10px;
            margin-left: 2px;
            transform: scale(1); /* Adjust the scale as needed */
        }

        .content {
            flex-grow: 1;
        }

        .text {
            width: 200px;
            margin-right: 10px;
        }

        .actions button {
            cursor: pointer;
            background-color: #bcf3be;
            color: rgb(0, 0, 0);
            border: none;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 0 5px;
            transition-duration: 0.4s;
            border-radius: 5px;
        }

        .actions button:hover {
            background-color: white;
            color: black;
            border: 1px solid #bdeebf;
        }

        #new-task-input {
            flex: 1 1 0%;
            background-color: rgb(244, 243, 243);
            border-radius: 1rem;
            border: none;
            width: fit-content;
            margin-right: 0.5rem;
            padding: 0.3rem;
            padding-left: 0.8rem;
            color: var(--light);
            font-size: 1rem;
        }

        button,
        #new-task-submit {
            color: var(--light);
            font-size: 1.2rem;
            cursor: pointer;
            border: solid;
            border-radius: 50%;
            size: 90%;
            transition: 0.4s;
            background-color: #ffffff;
        }

        #new-task-submit:hover {
            opacity: 0.8;
            background-color: #bcf3be;
        }

        .edit,
        .save {
            display: none;
        }
.SI{
border: none;
color: #484be5;
font-size: 1rem;
margin-left: 1.7rem;
}
    </style>
